@use "theme" as *;
@use "layout" as *;
@use "style" as *;
@use "layout" as *;
@use "typography" as *;
@use "overrides" as *;
// @import 'bootstrap/dist/css/bootstrap.min.css';
// @import 'nprogress/nprogress.css';
// @import 'react-quill/dist/quill.snow.css';


// ==================================== Global CSS ====================================
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#nprogress .bar {
  background: $primary !important;
}

.songs-detail-img {
  .ant-image {
    width: 100% !important;
  }

  img {
    height: 250px !important;
    object-fit: cover;
  }
}

.overlay-image {
  position: absolute;
  width: 100%;
  inset: 0;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.2) 100%);
  border-radius: 10px;
  background-size: cover;
}

.tooltip-img {
  .ant-tooltip {
      display: none !important;
  }
}

:where(.css-dev-only-do-not-override-f7vrd6) a{
  color: #000 !important; 
  text-decoration: none;
}
:where(.css-dev-only-do-not-override-f7vrd6).ant-select-dropdown .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: #f0f0f0 !important
}
.trigger, .ant-pagination .ant-pagination-item-active{
  background: #040707 !important
}

:where(.css-dev-only-do-not-override-f7vrd6).ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
  color: #040707 !important;
  border-color:#040707 !important;
}

:where(.css-dev-only-do-not-override-f7vrd6).ant-input-search .ant-input:hover, :where(.css-dev-only-do-not-override-f7vrd6).ant-input-search .ant-input:focus {
  border-color: #040707 !important;
}

:where(.css-dev-only-do-not-override-f7vrd6).ant-menu-light .ant-menu-item-selected{
  background-color: #f8f9fa;
}
.ant-select-focused:where(.css-dev-only-do-not-override-f7vrd6).ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer) .ant-select-selector{
  border-color: #040707 !important;
  box-shadow: none  !important;
}
input:focus,
input:focus-visible{
  outline: none !important;
  box-shadow: none !important;
}

:where(.css-dev-only-do-not-override-f7vrd6).ant-btn-primary {
border: 1px solid #000 !important;
  background: #040707 !important;
   box-shadow: none !important; 
   max-width: 200px ;
}


:where(.css-dev-only-do-not-override-f7vrd6).ant-menu-light .ant-menu-item-selected {
  background: #040707 !important;
  color: #fff !important;
}

i.fa-pen-to-square,
i.fa-trash-can{
  font-size: 17px;
}

.archiveBtn{
  background: #ff4d4f  !important;
}
.archiveBtn:hover{
  border-color: #ff4d4f !important;
  color: #ff4d4f !important;
  background: transparent  !important;
}
.activateBtn{
  background-color: transparent !important;
  color: #040707 !important;
  border-color: #040707 !important;
  transition: all .3s ease-in;
}
.activateBtn:hover{
  color: #fff !important;
  background-color: #040707 !important;
}

.ant-table-content tbody.ant-table-tbody tr:nth-child(even) {
  background: #fafafa;
}
.ant-table-thead tr th {
  background: #e5e5e5 !important;
  color: #000 !important;
}

.ant-spin-container {
  box-shadow: 0 0 10px rgb(144 143 143 / 20%);
}
:where(.css-dev-only-do-not-override-f7vrd6).ant-table-wrapper .ant-table-pagination-right {
  padding: 10px;
}

.ViewMore {
  background: transparent !important;
  color: #000 !important;
  font-size: 20px;
  border: 0 !important;
}
.blackViewBtn {
  color: #fff !important;
  background-color: #000 !important;
  padding: 8px 20px;
  height: auto;
  transition: all .3s ease-in;
}

.blackViewBtn:hover{
  background-color: transparent !important;
  color: #000 !important;
}

:where(.css-dev-only-do-not-override-f7vrd6).ant-btn:not(:disabled):focus-visible {
  outline: none !important;
}

.paginationCenter .ant-pagination{
  justify-content: center;
}
a.forgotPassword {
  color: #000;
  text-decoration: none;
  margin: -10px 0 10px;
  display: block;
}

.signBtn {
  border: 0;
  outline: 0;
  padding: 0;
  margin-left: 6px;
}
.signBtn:hover{
  text-decoration: underline;
}

:where(.css-dev-only-do-not-override-f7vrd6).ant-input-outlined:focus, :where(.css-dev-only-do-not-override-f7vrd6).ant-input-outlined:focus-within,
:where(.css-dev-only-do-not-override-f7vrd6).ant-input-outlined:hover {
  border-color: #000000;
  box-shadow: none;
  outline: 0;
  background-color: #ffffff;
}

.ant-divider-horizontal {
  border: 0 !important;
  margin: 10px 0 !important;
}

.auth-pages .form-wrapper {
  border-radius: 40px;
}

:where(.css-dev-only-do-not-override-f7vrd6).ant-input-affix-wrapper-lg {
  padding: 7px 10px;
}
:where(.css-dev-only-do-not-override-f7vrd6).ant-input-affix-wrapper .ant-input-prefix {
  margin-inline-end: 8px;
}

.labelSignup{
  font-size: 15px;
  margin-bottom: 12px;
}
.dashboradTable .ant-card .ant-card-body {
  padding: 6px 0 !important;
}

:where(.css-dev-only-do-not-override-f7vrd6).ant-picker-outlined {
  padding: 7.5px 11px;
}

:where(.css-dev-only-do-not-override-f7vrd6).ant-picker-outlined:focus ,
:where(.css-dev-only-do-not-override-f7vrd6).ant-picker-outlined:hover,
:where(.css-dev-only-do-not-override-f7vrd6).ant-picker-outlined:focus-within {
  border-color: #000000 !important;
  box-shadow: none !important;
  outline: 0;
}
.heightCenter{
  height:calc(100vh - 10vh) ;
  align-items: center;
}

:where(.css-dev-only-do-not-override-f7vrd6).ant-btn-primary:hover {
  border: 1px solid #000 !important;
    background: transparent !important;
    color: #000 !important; 
  }
  :where(.css-dev-only-do-not-override-f7vrd6).ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover .ant-select-selector {
    border-color: #000000  !important;
}
:where(.css-dev-only-do-not-override-f7vrd6).ant-menu-light:not(.ant-menu-horizontal) .ant-menu-item:not(.ant-menu-item-selected):active{
  background-color: #f0f0f0 !important;
}

@media screen and (max-width:991x) {
  .ant-card .ant-card-body {
    overflow: hidden;
    overflow-x: scroll;
    scrollbar-width: thin;
}
.heightCenter{
  height:100% ;
}
}
@media screen and (max-width:767px) {
  .flexWrapper{
    flex-wrap: wrap;
    gap: 0 !important;
  }
  .flexWrapper .ant-form-item{
    width: 100%;
  }

}
@media screen and (max-width:575px) {
  :where(.css-dev-only-do-not-override-f7vrd6).ant-btn-primary {
    max-width: 100%;
}
}